body {
	margin: 0;
	padding: 0;
	font-family: 'Tajawal', sans-serif;
}

/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*-----------------------------Header Style --------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
.header {
	-webkit-box-shadow: 0px -24px 54px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px -24px 54px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px -24px 54px 0px rgba(0, 0, 0, 0.75);
}

#dropdown_header {
	display: none;
	position: absolute;
	height: 80px;
	background-color: rgb(241, 241, 241);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	z-index: 1;
	margin-right: 170px;
}
#dropdown_header a {
	display: block;
	margin: 0;
	padding: 5px 40px;
	text-align: center;
}

#dropdown_header a:hover {
	background-color: #b4b4b4;
	border-radius: 15px;
}

.header div {
	margin: auto;
	max-width: 1500px;
	display: flex;
	flex-direction: row-reverse;
	height: 70px;
}

.header nav {
	height: auto;
	margin: auto auto auto 0;
	direction: rtl;
}

.header .moobile_nav {
	display: none;
}

.header nav a {
	padding: 0px 0px 0px 40px;
}

.header nav .login {
	border-right: solid 1px gray;
	padding-right: 40px;
}

.header nav a:link,
.header nav a:visited {
	text-decoration: none;
	color: black;
}

.header h1 {
	margin: auto 0 auto auto;
	color: #048998;
}

.header h2 {
	margin: auto 0 auto 0;
	color: white;
	background-color: #048998;
	border-radius: 0 5px 5px 0;
	display: none;
}

.hidden {
	display: none;
}

@media only screen and (max-width: 1920px) {
	.header div {
		max-width: 80%;
	}
}

@media only screen and (max-width: 768px) {
	.header div {
		max-width: 100%;
		display: block;
		height: auto;
		padding: 10px 0px 10px 0px;
	}

	.header .desktop_nav {
		display: none;
	}

	.header h1 {
		text-align: right;
		display: inline-block;
		font-size: 40px;
		width: 65%;
	}

	.header h2 {
		text-align: center;
		display: inline-block;
		font-size: 50px;
		width: 28%;
	}

	.header nav a,
	.header nav .login {
		display: block;
		text-align: center;
		margin: 30px 0px 0px 0px;
		padding: 30px 0;
		border-right: 0;
		font-size: 25px;
	}

	.header nav a:hover {
		background-color: #048998;
	}
}

/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------Intro part--------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
.intro {
	height: 400px;
	background: url(../img/2.jpg) 50% -200px / cover no-repeat fixed;
	display: flex;
}

.intro > div {
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.intro > div > h1 {
	color: white;
	text-align: center;
	font-size: 50px;
	margin: 0;
}

#top_text {
	margin-bottom: 60px;
}

#bottom_text,
#bottom_text a:link,
#bottom_text a:visited,
#bottom_text h1 {
	display: flex;
	color: white;
	height: auto;
	flex-direction: row-reverse;
	text-decoration: none;
	align-items: center;
}

#bottom_text a {
	background-color: #048998;
	padding: 10px 30px;
	border-radius: 5px;
	margin: 0 60px;
	font-size: 30px;
	text-align: center;
}

#bottom_text a:hover {
	background-color: #059bac;
}

@media only screen and (max-width: 768px) {
	.intro > div > h1 {
		font-size: 40px;
	}

	#bottom_text a {
		margin: 0 20px;
		padding: 15px 30px;
		font-size: 20px;
		text-align: center;
	}
}

/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*----------------------------  Homes cards --------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

.content {
	display: flex;
	flex-direction: column;
	max-width: 1450px;
	align-items: center;
	margin: auto;
}
.content h1 {
	text-align: center;
	color: #059bac;
	margin-top: 30px;
}

.content > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-flow: wrap;
	margin-bottom: 100px;
}

.content > div > article {
	width: 250px;
	height: 250px;
	margin: 15px;
	-webkit-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	cursor: pointer;
}

.content > div > article:hover {
	-webkit-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.80);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.80);
	box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.80);
}

.content > div > article > img {
	border-radius: 5px 5px 0 0;
}

#place {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	padding-right: 10px;
	padding-top: 10px;
}

#place > h5 {
	margin: 0 5px 0 0;
	color: gray;
	font-size: 14px;
}
#place img {
	width: 15px;
}

.content > div > article > h5 {
	margin: 0 15px 0 15px;
	text-align: right;
	height: 45px;
	font-size: 20px;
}

.content > div > article > h3 {
	margin: 0 15px 0 0;
	color: #048998;
	font-weight: bold;
	font-size: 20px;
	text-align: right;
	direction: rtl;
}

@media only screen and (max-width: 1920px) {
	.content {
		max-width: 80%;
	}
}
@media only screen and (max-width: 768px) {
	.content > div > article {
		width: 80%;
	}
}

/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------Login / Register Form---------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

.login_form {
	width: 500px;
	margin: 100px auto 100px auto;
	-webkit-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.75);
	border-radius: 15px;
	padding: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login_form h1 {
	color: #048998;
	margin: 0 0 60px 0;
}

.login_form a,
.login_form a:link {
	color: #046298;
	text-decoration: none;
	width: 100%;
	text-align: right;
}

input {
	font-family: 'Tajawal', sans-serif;
}
.erorr {
	color: rgba(245, 56, 56, 0.726);
	width: 100%;
	text-align: right;
}

.login_form input[type=email],
.login_form input[type=password],
.login_form input[type=text],
.login_form input[type=number] {
	border: none;
	width: 100%;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.493);
	outline: none;
	font-size: 25px;

	text-align: right;
	border-bottom: 2px solid #048998;
	margin: 0 0 30px 0;
}

.login_form input[type=email]:focus,
.login_form input[type=password]:focus .login_form input[type=text]:focus,
.login_form input[type=number]:focus {
	background-color: rgba(144, 201, 255, 0.151);
}

.login_form label {
	margin-top: 20px;
	width: 100%;
	text-align: right;

	font-size: 25px;
}

.login_form input[type=submit] {
	width: 100%;
	margin: 0 0 20px 0;
	margin: 40px 0 40px 0;
	background-color: #048998;
	border: 0;
	font-size: 30px;
	padding: 10px;
	border-radius: 50px;
	color: white;
}

.login_form input[type=submit]:hover {
	background-color: rgb(2, 123, 136);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.login_form .roles {
	display: flex;
	flex-direction: row-reverse;
	border: 2px solid #048998;
	border-radius: 10px;
	width: 100%;
}

.login_form .roles label {
	display: inline-block;
	font-size: 22px;
	text-align: center;
	margin: 0;
	padding: 5px;
	height: 100%;
	cursor: pointer;
}

.login_form .roles #label_role_2 {
	border-right: 2px solid #048998;
}
.checked_left {
	border-radius: 7px 0 0 7px;
	background-color: #048998;
	color: white;
}
.checked_right {
	border-radius: 0 7px 7px 0;
	background-color: #048998;
	color: white;
}

.login_form .roles input[type=radio] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.login_form .roles label:hover {
	background-color: #0489988f;
	color: white;
}
@media only screen and (max-width: 768px) {
	.login_form {
		width: 400px;
	}
}

/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*----------------------------Show home css --------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

.back-btn-fixed {
	display: none;
	position: fixed;
	top: 100px;
	right: 5%;
	background-color: #d2d2d2;
	padding: 10px 15px;
	border-radius: 50%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
	cursor: pointer;
}
.back-btn-fixed:hover {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.301);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.301);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.301);
}
.back-btn-fixed img {
	width: 20px;
	height: 25px;
	margin-right: -3px;
}

.show-container {
	max-width: 1450px;
	margin: 30px auto 0 auto;
	padding: 15px 12px 15px 12px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
}

.owner-container {
	padding: 25px 18px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 300px;
	position: sticky;
	top: 30px;
	margin-top: 80px;
}

.owner-head {
	display: flex;
	flex-direction: row;
	color: #3287a7;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 20px;
}
.reservate-head {
	display: flex;
	flex-direction: row;
	color: #3287a7;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
	width: 100%;
}

.line {
	width: 60px;
	background-color: gray;
	height: 2px;
	margin: -3px 5px 0 5px;
	flex-grow: 1;
}

.owner-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: rgb(97, 97, 97);
}

.owner-name {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}
.owner-name img {
	width: 40px;
	margin-left: 10px;
}

.reservate-date form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.date-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.date input {
	margin: 0 5px 0 5px;
	border: none;
}

.btn-reservate {
	width: 100%;
	margin: 25px 0 15px 0;
	display: flex;
	justify-content: center;
}
.btn-reservate button {
	border: none;
	border-radius: 5px;
	background-color: #3287a7;
	color: white;
	padding: 10px;
	width: 100%;
}

.home-container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.home-container .title {
	display: flex;
	flex-direction: column;
	align-items: right;
	text-align: right;
}
.home-container .title h1 {
	color: rgb(80, 80, 80);
	font-size: 25px;
}

.home-container .title .location {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	color: gray;
}
.home-container .title .location h5 {
	margin: 0;
	font-size: 20px;
}
.home-container .title .location img {
	width: 20px;
}

.card-container {
	margin: 18px 0 100px 20px;
}

.images-container {
	-webkit-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 5px;
}

.carousel-item img {
	border-radius: 5px;
	height: 600px;
}

.carousel-fade .carousel-inner .item {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
	opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-fade .carousel-control {
	z-index: 2;
}

.general-spec {
	-webkit-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 10px;
	padding-bottom: 10px;
	margin-top: 50px;
}

.general-spec .head {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	padding: 10px;
	margin-bottom: 10px;
}
.general-spec .head h1 {
	margin: 0 0 0 10px;
	font-size: 16px;
	color: #3287a7;
	font-weight: bold;
}

.general-spec .head .line {
	margin-top: 0;
	margin-bottom: -3px;
}

.general-spec .specs {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	align-items: center;
	justify-content: center;
}

.general-spec .specs .spec {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50px;
	margin: 10px 20px;
}

.general-spec .specs .spec .img-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #3bb4c1;
	border-radius: 50%;
	padding: 10px;
}

.general-spec .specs .spec .img-container img {
	width: 100%;
}

.general-spec .specs .spec h3 {
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 0;
	text-align: center;
}
.general-spec .specs .spec h6 {
	font-size: 14px;
	margin: 0;
}

.extra-spec {
	-webkit-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 10px;
	padding-bottom: 10px;
	margin-top: 50px;
}

.extra-spec .head {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	padding: 10px;
	margin-bottom: 10px;
}
.extra-spec .head h1 {
	margin: 0 0 0 10px;
	font-size: 16px;
	color: #3287a7;
	font-weight: bold;
}

.extra-spec .head .line {
	margin-top: 0;
	margin-bottom: -3px;
}

.extra-spec .specs {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	align-items: center;
	justify-content: center;
}

.extra-spec .specs .spec {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50px;
	margin: 10px 20px;
}

.extra-spec .specs .spec .img-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
}

.extra-spec .specs .spec .img-container img {
	width: 100%;
}

.extra-spec .specs .spec h3 {
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 0;
	text-align: center;
}
.extra-spec .specs .spec h6 {
	font-size: 14px;
	margin: 0;
}

.location-spec {
	-webkit-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 10px;
	padding-bottom: 10px;
	margin-top: 50px;
}

.location-spec .head {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	padding: 10px;
	margin-bottom: 10px;
}
.location-spec .head h1 {
	margin: 0 0 0 10px;
	font-size: 16px;
	color: #3287a7;
	font-weight: bold;
}

.location-spec .head .line {
	margin-top: 0;
	margin-bottom: -3px;
}

@media only screen and (max-width: 1920px) {
	.show-container {
		max-width: 1140px;
	}
}

@media only screen and (max-width: 1100px) {
	.show-container {
		max-width: 90%;
		flex-flow: wrap;
	}
	.card-container {
		margin-bottom: 0;
	}
	.owner-container {
		margin-top: 30px;
		margin-bottom: 80px;
	}
	.carousel-item img {
		height: 600px;
	}
	.back-btn-fixed {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.show-container {
		max-width: 98%;
		flex-flow: wrap;
	}
	.card-container {
		margin-bottom: 0;
		margin-left: 0;
	}
	.owner-container {
		margin-top: 30px;
		margin-bottom: 80px;
	}
	.carousel-item img {
		height: 300px;
	}
	.back-btn-fixed {
		display: none;
	}
}

.myhomes-container {
	max-width: 1150px;
	margin: auto;
}

.myhomes-card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.myhomes-card .title {
	width: 100%;
	display: flex;
	flex-flow: wrap;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0;
}
.myhomes-card .title > div {
	flex: 1;
	display: flex;
	justify-content: start;
	align-items: center;
}
.myhomes-card .title h1 {
	font-size: 25px;
	font-weight: bold;
	margin: 0;
	text-align: center;
	flex-grow: 2;
}
.myhomes-card .title .btn-addhome {
	background-color: #048998;
	border-radius: 7px;
	padding: 10px 10px;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	-webkit-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.6);
	width: fit-content;
	min-width: fit-content;
	cursor: pointer;
}

.myhomes-card .title .btn-addhome h4 {
	margin: 0 0 0 10px;
	font-size: 20px;
	white-space: nowrap;
}

.myhomes-card .title .btn-addhome i {
	font-size: 20px;
}

.myhomes-card .title .btn-addhome:hover {
	background-color: #00a2b4;
}

.myhomes-card .table-head {
	width: 100%;
	display: flex;
	flex-flow: wrap;
	flex-direction: row-reverse;
	align-items: center;
	margin: 15px 0;
	padding: 7px 0;
	border-radius: 3px;

	background-color: #f6f6f6;

	-webkit-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
}

.myhomes-card .table-head h3 {
	flex-grow: 1;
	text-align: center;
	margin: 0;
	font-size: 14px;
	font-weight: normal;
	border-left: 1px solid rgb(128, 128, 128);
	white-space: nowrap;
}
.myhomes-card .table-head h3:last-child {
	border-left: none;
}

.myhomes-card .table-row {
	width: 100%;
	display: flex;
	flex-flow: wrap;
	flex-direction: row-reverse;
	align-items: center;
	margin: 10px 0;
	padding: 10px 0;
	border-radius: 3px;

	-webkit-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
.myhomes-card .table-row h4:first-child {
	cursor: pointer;
}
.myhomes-card .table-row h4:first-child:hover {
	background-color: #cccccc;
}
.myhomes-card .table-row h4,
.myhomes-card .table-row > div {
	flex-grow: 1;
	text-align: center;
	margin: 0 5px;
	font-size: 14px;
	font-weight: normal;
	white-space: nowrap;
	direction: rtl;
}

.myhomes-card .table-row .options button {
	color: white;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
	border-radius: 3px;

	-webkit-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.6);

	transition: 0.25s ease-in-out;

	outline: none;
}

.myhomes-card .table-row .options button:hover {
	transform: translateY(-5px);
}

.myhomes-card .table-row .options .edit {
	background-color: #5d5d5d;
	margin-left: 5px;
}

.myhomes-card .table-row .options .delete {
	background-color: #ac4747;
}

@media only screen and (max-width: 1920px) {
	.myhomes-container {
		max-width: 840px;
	}
}

@media only screen and (max-width: 1100px) {
	.myhomes-container {
		max-width: 90%;
	}
}

@media only screen and (max-width: 768px) {
	.myhomes-container {
		max-width: 95%;
	}

	.myhomes-card .title > div:first-child {
		display: none;
	}

	.myhomes-card .title > div {
		margin: 30px 0;
		justify-content: center;
	}

	.myhomes-card .table-row h4,
	.myhomes-card .table-row > div {
		margin: 10px 0;
	}

	.myhomes-card .table-head {
		display: none;
	}
}

/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------- Create home css ------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

.create-container {
	max-width: 1150px;
	margin: auto;
	padding: 50px 0;
}

.create-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
	padding: 10px 0 50px 0;
}

.create-card h1 {
	width: 100%;
	white-space: nowrap;
	text-align: center;
	font-size: 20px;
	font-weight: normal;
	color: rgb(104, 104, 104);
	border-bottom: 2px solid gray;
	padding-bottom: 10px;
}
.create-card div {
	width: 80%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}

.create-card .title {
	margin: 15px 0 0 0;
	flex-direction: column;
}
.create-card .title label {
	font-weight: normal;
	width: 100%;
	text-align: right;
	font-size: 16px;
}

.create-card .title input {
	width: 100%;
	border: 1px solid #70707071;
	border-radius: 5px;
	background-color: white;
	font-size: 18px;
	padding: 5px;
	text-align: right;
}

.create-card .w-2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.create-card .w-2:first-child {
	margin-right: 30px;
}
.create-card .w-2 label {
	font-weight: normal;
	width: 100%;
	text-align: right;
	font-size: 16px;
}

.create-card .w-2 .field {
	width: 100%;
	border: 1px solid #70707071;
	border-radius: 5px;
	background-color: rgba(242, 242, 242, 0.13);
	font-size: 18px;
}

.create-card .w-2 .field select {
	width: 100%;
	border: none;
	border-radius: 5px;
	outline: none;
	padding: 5px;
}
.create-card .w-2 .field i {
	color: rgba(128, 128, 128, 0.815);
	margin: 5px 10px;
}

.create-card .w-3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 30px;
}
.create-card .w-3:first-child {
	margin-left: 0px;
}

.create-card .w-3 label {
	font-weight: normal;
	width: 100%;
	text-align: right;
	font-size: 16px;
}

.create-card .w-3 .field {
	width: 100%;
	border: 1px solid #70707071;
	border-radius: 5px;
	background-color: rgba(242, 242, 242, 0.13);
	font-size: 18px;
}

.create-card .w-3 .field input {
	width: 100%;
	border: none;
	border-radius: 5px;
	outline: none;
	padding: 5px;
	text-align: center;
}
.create-card .w-3 .field img {
	color: rgba(128, 128, 128, 0.815);
	margin: 5px;
	width: 20px;
}

.create-card .area-container {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.create-card .area-container label {
	font-weight: normal;
	width: 100%;
	text-align: right;
	font-size: 16px;
}

.create-card .area-container .area {
	display: flex;
	flex-direction: row;
	width: 100%;
	border: 1px solid #70707071;
	border-radius: 5px;
	background-color: rgba(242, 242, 242, 0.13);
}

.create-card .area-container input {
	width: 100%;
	border: none;
	border-radius: 5px;
	outline: none;
	padding: 5px;
	text-align: center;
}

.create-card .area-container input:first-child {
	border-right: 1px solid #70707071;
	border-radius: 5px 0 0 5px;
}

.create-card .extra-container {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.create-card .extra-container > label {
	font-weight: normal;
	width: 100%;
	text-align: right;
	font-size: 16px;
}

.create-card .extra-container .extra {
	display: flex;
	flex-direction: row;
	padding: 10px;
	flex-flow: wrap;
	justify-content: center;
	background-color: white;
	border-radius: 5px;
	border: 1px solid rgba(128, 128, 128, 0.397);
	width: 100%;
}

.create-card .extra-container .extra input[type=checkbox] {
	display: none;
}

.create-card .extra-container .extra > label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50px;
	margin: 10px 20px;
}

.create-card .extra-container .extra .img-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(179, 179, 179);
	border-radius: 50%;
	padding: 10px;
}

.color-blue {
	background-color: #3bb4c1 !important;
}
.create-card .extra-container .extra .img-container img {
	width: 100%;
}

.create-card .extra-container .extra h5 {
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 0;
	text-align: center;
	white-space: nowrap;
}

.create-card .uploadimages-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.create-card .uploadimages-container .title {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: left;
	width: 100%;
}
.create-card .uploadimages-container .title label {
	width: fit-content;
	padding: 5px 10px;
	margin-right: 20px;
	border-radius: 5px;
	color: white;
	background-color: #00a2b4;
}
.create-card .uploadimages-container .title h3 {
	font-weight: normal;
	text-align: right;
	font-size: 16px;
}

.create-card .uploadimages-container #images-container {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	justify-content: center;
	align-items: center;
	min-height: 150px;
	padding: 15px;
	border: 2px dotted gray;
	background-color: white;
	border-radius: 5px;
	width: 100%;
}

.create-card .price {
	display: flex;
	flex-direction: column;
}

.create-card .price .price-type {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 0;
}

.create-card .price .price-type h3 {
	margin: 0 5px 0 10px;
	font-size: 22px;
}
.create-card .price .price-type div:last-child {
	flex-grow: 1;
	background-color: gray;
	height: 2px;
}

.create-card .price .price-type .img-container {
	width: 40px;
	padding: 7px;
	background-color: rgb(39, 39, 39);
	border-radius: 50%;
}

.create-card .price .price-type .img-container img {
	width: 100%;
}

.create-card .price .price-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	border: 1px solid #70707071;
	border-radius: 5px;
	background-color: rgba(242, 242, 242, 0.13);
	font-size: 18px;
}

.create-card .price .price-container input[type=number] {
	flex-grow: 1;
	border: none;
	padding: 5px;
	outline: none;
	border-radius: 5px;
	text-align: center;
}

.create-card .price .price-container h2 {
	margin: 0 5px;
	font-size: 16px;
}

.create-card .submitButton {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px 0 0 0;
}

.create-card .submitButton button {
	background-color: none;
	border: none;
	width: 100%;
	height: 100%;
	text-align: center;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	background-color: #00a2b4;
	font-size: 25px;
	padding: 15px 10px;
	cursor: pointer;
}

.create-card .submitButton button:hover {
	-webkit-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.6);
	background-color: #16acbd;
}

@media only screen and (max-width: 1920px) {
	.create-container {
		max-width: 840px;
	}
}

@media only screen and (max-width: 1100px) {
	.create-container {
		max-width: 90%;
	}
	.create-card div {
		width: 90%;
	}
}

@media only screen and (max-width: 768px) {
	.create-container {
		max-width: 95%;
	}
	.create-card div {
		width: 95%;
	}
}

@media only screen and (max-width: 400px) {
	.create-card > div {
		flex-flow: wrap;
	}

	.create-card .w-3 {
		margin-left: 0;
	}

	.create-card .w-2:first-child {
		margin-right: 0;
	}
}
